.App {
  text-align: left;
}

.stat {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: normal;
}

.fullStatistic {
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  overflow: auto;
  height: 5000vh;
}

.container {
  margin-top: 80px;
  margin-bottom: 120px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: normal;
  font-size: 3em;
}

.forImages {
  bottom: 0;
}

.home {
  margin-bottom: 300px;
}

pre {
  width: 90%;
  background-color: #282c34;
}

.title {
  /* color: white; */
  align-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
}
